**/*~
**\#*\#
build/
dist/
package-lock.json                                                                                                                
node_modules/
public/js/cljs-runtime
public/js/manifest.edn
.shadow-cljs/                                                                                                                    
